nav{
    background: rgb(215 231 224);
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 10px;
    padding-top: 10px;
    padding-bottom: 0.5px;
    border: 2px solid  #4c111157;
}
.s-in-btn{
    background: rgb(36, 184, 73);
    border: 2px solid rgba(36, 184, 110, 0.5);
    float: right;
    margin-right: 10px;
}
body{
    background-image: url("image/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;

}
h2{
    color: aliceblue;
    text-align: center;
    font-style: italic;
    padding: 20px;
}
label{
    color: white;
    font-size: 20px;
    font-style: italic;
}
#ma{
    color: white;
    font-size: 20px;
    font-style: italic;
}
#ch{
    color: white;
    font-size: 20px;
    font-style: italic;
}
.reg{
    width: 400px;
    margin: 100px auto 0px auto;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 10px;
    float: right;
}
.reg1{
    margin: 40px;
}
#reg{
    width: 60%;
    margin: auto;
}
#name{
    width: 300px;
    outline: 0;
    padding: 5px;
    border: 3px groove;
}
#sub{
    width: 300px;
    outline: 0;
    padding: 5px;
    border: 3px groove;
    color:  black;
    font-style: italic;
    font-size: 18px;
    background-color: darkgreen ;
}